{% extends 'base.html.twig' %}

{% block title %}Carte{% endblock %}

{% block body %}
<div class="text-center mt-5 mb-5">
    <h1 class="underline-title">CARTE</h1>
    <div id="card-menu" class="text-center mt-5 mb-5">
        {% for menuCards in carte %}
            <h3 class="mt-5">{{ menuCards.category }}</h3>
            <h5>{{ menuCards.title }}</h5>
            <p>{{ menuCards.description }}</p>
            {{ menuCards.price }} Euros.
        {% endfor %}
    </div>
</div>
{% endblock %}
