{% extends 'base.html.twig' %}

{% block title %}Au Quai Antique{% endblock %}

{% block body %}
    <div class="text-center mt-5 mb-5">
        <h1>Au Quai Antique</h1>
        <h5>Installé à Chambery, vous propose au déjeuner comme au dîner une
            expérience gastronomique, à travers une cuisine sans artifice.</h5>
    </div>
    <div id="gallery" class="carousel slide img-fluid mx-auto rounded w-75"
         data-bs-touch="true">
        <div class="carousel-inner">
            {% for image in gallery %}
                <div class="carousel-item{% if loop.first %} active{% endif %}">
                    <img src="{{ asset('/images/gallery/' ~ image.imageName) }}"
                         class="w-100 img-fluid rounded" alt="{{ image.title }}" title="{{ image.title }}">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#gallery" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#gallery" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <a href="/reservation" class="btn btn-success" type="button">Réserver</a>
    </div>

{% endblock %}
