<div class="text-center mt-5">
    <h1 class="mb-4">Nos Horaires d'ouverture</h1>
<ul class="list-unstyled">
    <li>Lundi 12h00-14h00<br>19h00-22h00</li><br>
    <li>Mardi 12h00-14h00<br>19h00-22h00</li><br>
    <li>Mercredi fermé</li><br>
    <li>Jeudi 12h00-14h00<br>19h00-22h00</li><br>
    <li>Vendredi 12h00-14h00<br>19h00-22h00</li><br>
    <li>Samedi 19h00-23h00</li><br>
    <li>Dimanche 12h00-14h00</li><br>
</ul>
</div>